/* main name */
@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Hind');



html {
  background: url("/Users/daniththai/wdi/portfolio/images/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: 'Hind', sans-serif;

}

#bgCredit{
  position: fixed;
  bottom: 10px;
  right:10px;
}

nav{
  margin-right: 40px;
  margin-top: 20px;
}

button{
  padding: 10px;
  border-radius: 20%;
}

#resumeButton{
  margin: 0;
  text-decoration: none;
}


#name{
  font-family: 'Assistant', sans-serif;
  text-align: center;
  margin-top: 2vh;
}

h1{
  font-size: 8vh;
}

h2{
  font-size: 4vh;
}

/* nav */
.nav{
  list-style-type: none;
  text-align: right;
}

li{
  display: inline-block;
}

button:hover{
  cursor: pointer;
}

#contactDetails{
  text-align: center;
}

#contactDetailsContents{
  margin: 30px 10px;
  padding: 40px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  line-height: 200%;
  background-color: #c1c1c1;
}



/* about me */
#aboutMeContent{
  display: grid;
  grid-template-columns: 35% 65%;
  margin-top: 20px;
}

#profilePic{
  width: 80%;
  height:auto;
  grid-column: 1/2;
  border-radius: 50%;
  padding-left: 50px;
}

#aboutMeText{
  grid-column: 2;
  padding: 5% 10%;
  margin-right: 30px;
  background-color: #c1c1c1;
}


/* myProjects */
@import "compass/css3";

#proj1, #proj2, #proj3, #proj4{
  margin-top: 40px;
}

/*GENERAL*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url(bkg.png);
}

/*SLIDER*/
.container {
  position: relative;
  height: 860px;
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.big {
  position: absolute;
  top:900px;
  left:20px;

  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
}


a {
  float: left;
  margin: 20px;
}

a :hover .thumb {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

a:hover .big {
  top: 260px;
}

.featured {
  top: 260px;
  left: 20px;
  z-index: -3;
}


/* dropdown */


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}
